@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
/* ==========================================================================
   BASE
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  line-height: 1.4;
  color: #252525;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
  @media (min-width: 992px) {
    html {
      font-size: 16px; } }

body {
  margin: 0; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }

table {
  width: 100%; }

p, ul {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

small {
  font-size: 100%;
  display: inline-block; }

/* ==========================================================================
  COMMON
  ========================================================================== */
/* FORMS */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
select,
textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 8px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  transition: all .3s ease-in-out; }

textarea {
  resize: vertical;
  margin-bottom: 8px;
  height: 100px; }

select {
  padding: 6px 4px 6px 4px; }

textarea {
  margin-bottom: 8px; }

input[type="number"] {
  padding-right: 0; }

input.checkbox {
  margin-right: 8px; }

label.checkbox {
  margin-bottom: 8px;
  display: block; }

input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
  vertical-align: text-top; }

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
textarea:focus {
  box-shadow: 0 0 5px #6889ff;
  border: 1px solid #6889ff; }

.lbl {
  font-weight: 500;
  font-size: 14px; }

.lbl--top {
  display: block;
  margin-bottom: 4px; }

.lbl--side {
  display: inline-block;
  margin-bottom: 4px; }

.lbl--radio {
  margin: 0 1rem 1rem 0;
  display: inline-block; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

.b-inputs input {
  margin-bottom: 16px; }
@media (min-width: 992px) {
  .b-inputs:before, .b-inputs:after {
    content: "";
    display: table; }
  .b-inputs:after {
    clear: both; }
  .b-inputs input {
    width: 32.3%;
    float: left;
    margin-right: 1.5%; }
  .b-inputs input:last-child {
    margin-right: 0; } }

/* SEARCH FORM */
.form-search-mob .search-submit {
  right: 12px;
  top: 5px;
  font-size: 18px; }
.form-search-mob .search-field {
  width: 100%;
  padding: 8px 25px 8px 12px;
  border: 1px solid #555555; }

.form-search-mob, .form-search-header {
  position: relative; }
  .form-search-mob .search-submit, .form-search-header .search-submit {
    position: absolute;
    width: 28px;
    height: 28px;
    border: none;
    padding: 0;
    right: 3px;
    top: 4px;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px'%3E%3Cpath d='M14.490,12.752 L11.296,9.559 C11.279,9.542 11.259,9.530 11.242,9.515 C11.870,8.561 12.237,7.421 12.237,6.194 C12.237,2.856 9.531,0.150 6.193,0.150 C2.856,0.150 0.150,2.856 0.150,6.193 C0.150,9.531 2.856,12.237 6.193,12.237 C7.420,12.237 8.561,11.870 9.514,11.242 C9.530,11.259 9.542,11.279 9.559,11.296 L12.753,14.490 C13.232,14.969 14.010,14.969 14.490,14.490 C14.969,14.010 14.969,13.232 14.490,12.752 ZM6.193,10.142 C4.013,10.142 2.245,8.374 2.245,6.193 C2.245,4.013 4.013,2.245 6.193,2.245 C8.374,2.245 10.142,4.013 10.142,6.193 C10.142,8.374 8.374,10.142 6.193,10.142 Z'/%3E%3C/svg%3E") no-repeat 7px 6px; }

.form-search-header {
  display: inline-block;
  border: 1px solid #e3e3e3;
  border-radius: 30px; }
  .form-search-header .search-field:focus, .form-search-header .search-submit:focus {
    outline-width: 0; }
  .form-search-header .search-field {
    margin: 0;
    border-radius: 20px;
    background-color: transparent;
    padding: 8px 12px;
    width: 35px;
    height: 35px;
    transition: all .15s;
    cursor: pointer;
    border: none;
    color: transparent; }
    .form-search-header .search-field::-moz-placeholder {
      opacity: 0; }
    .form-search-header .search-field::-webkit-input-placeholder {
      opacity: 0; }
    .form-search-header .search-field::-ms-input-placeholder {
      opacity: 0; }
    .form-search-header .search-field::input-placeholder {
      opacity: 0; }
  .form-search-header.open .search-field {
    width: 200px;
    cursor: auto;
    padding-right: 25px;
    color: #252525; }
    .form-search-header.open .search-field::-moz-placeholder {
      opacity: 1; }
    .form-search-header.open .search-field::-webkit-input-placeholder {
      opacity: 1; }
    .form-search-header.open .search-field::-ms-input-placeholder {
      opacity: 1; }
    .form-search-header.open .search-field::input-placeholder {
      opacity: 1; }

/* VIEW */
.b-view-options {
  margin-bottom: 16px; }
  .b-view-options .lbl--side {
    margin-right: 4px; }
  .b-view-options .input-view-type {
    width: auto; }
  .b-view-options .input-view-pages {
    width: auto; }
  .b-view-options--right {
    text-align: right; }

.b-view-type {
  vertical-align: top;
  display: inline-block; }
  @media (max-width: 991px) {
    .b-view-type {
      display: none; } }

.btn-view-type {
  font-size: 1.6rem;
  margin-left: 8px; }
  .btn-view-type.active {
    color: red; }

/* IMAGES */
.aligncenter, .alignleft, .alignright {
  display: block;
  margin: 0 auto 20px; }

@media (min-width: 768px) {
  .alignleft, .alignright {
    display: inline-block;
    max-width: 75%; }

  .alignleft {
    float: left;
    margin: 5px 20px 8px 0; }

  .alignright {
    float: right;
    margin: 5px 0 8px 20px; } }
/* UTILITY CLASSES */
.b-show-more {
  text-align: center;
  margin-bottom: 28px; }

/* BUTTONS */
.btn {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .04em;
  text-decoration: none;
  text-transform: uppercase;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: transparent;
  padding-right: 16px;
  padding-left: 16px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  background-color: transparent;
  transition: all .15s; }
  .btn:hover {
    cursor: pointer; }
  .btn svg {
    margin-left: 4px;
    display: inline-block; }

.btn--stroked {
  border-style: solid;
  padding-right: 14px;
  padding-left: 14px;
  border-width: 2px;
  line-height: 32px; }
  .btn--stroked:hover {
    background: #555555; }

.btn--full {
  width: 100%;
  margin-bottom: 20px; }
  .btn--full.active svg {
    transform: rotate(180deg); }

.btn--action {
  background: #ffca3c;
  color: #fff; }
  .btn--action:hover {
    background: rgba(255, 202, 60, 0.85); }

/* ==========================================================================
   MENUS
   ========================================================================== */
.but-nav {
  width: 38px;
  height: 20px;
  border: none;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb%280, 0, 0%29' d='M36.000,11.999 L2.000,11.999 C0.895,11.999 -0.000,11.104 -0.000,9.999 C-0.000,8.895 0.895,7.999 2.000,7.999 L36.000,7.999 C37.104,7.999 38.000,8.895 38.000,9.999 C38.000,11.104 37.104,11.999 36.000,11.999 ZM36.000,3.999 L2.000,3.999 C0.895,3.999 -0.000,3.104 -0.000,1.999 C-0.000,0.895 0.895,-0.001 2.000,-0.001 L36.000,-0.001 C37.104,-0.001 38.000,0.895 38.000,1.999 C38.000,3.104 37.104,3.999 36.000,3.999 ZM2.000,15.999 L36.000,15.999 C37.104,15.999 38.000,16.895 38.000,17.999 C38.000,19.104 37.104,19.999 36.000,19.999 L2.000,19.999 C0.895,19.999 -0.000,19.104 -0.000,17.999 C-0.000,16.895 0.895,15.999 2.000,15.999 Z'/%3E%3C/svg%3E") no-repeat; }
  @media (min-width: 768px) {
    .but-nav {
      display: none; } }

.nav-menu a {
  padding: 14px 0;
  display: block; }

.nav-menu-inline .menu-item {
  display: inline-block;
  margin-right: 20px; }

.tab-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  top: -43px;
  overflow: hidden;
  overflow-x: auto; }
  .tab-bar .cus-tab {
    display: inline-block; }
    .tab-bar .cus-tab--active {
      background: #fff;
      border-top: 2px solid; }
    .tab-bar .cus-tab a {
      font-weight: 500;
      padding: 10px 16px 12px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .tab-bar .cus-tab a {
        padding: 10px 10px 12px; } }
  @media (max-width: 767px) {
    .tab-bar .nav-menu {
      width: 800px; } }

.pagination, .pagination-mob {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .pagination .pgn-page, .pagination-mob .pgn-page {
    display: inline-block; }
  .pagination a, .pagination-mob a {
    font-size: 12px; }
  .pagination .mdc-button, .pagination-mob .mdc-button {
    padding-left: 15px;
    padding-right: 15px;
    min-width: auto;
    border-width: 1px; }

@media (max-width: 767px) {
  .pagination {
    display: none; } }
.pagination [rel="last"] svg {
  margin-left: 4px; }

@media (min-width: 768px) {
  .pagination-mob {
    display: none; } }

.widget-menu {
  margin-bottom: 24px; }
  .widget-menu .header {
    margin: 0;
    background: rgba(0, 0, 0, 0.07);
    padding: 18px 24px;
    font-size: 1.4rem; }
    @media (max-width: 991px) {
      .widget-menu .header {
        cursor: pointer;
        position: relative; }
        .widget-menu .header::after {
          content: "";
          position: absolute;
          right: 16px;
          top: 21px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
          width: 16px;
          height: 16px;
          transition: all .3s; }
        .widget-menu .header.active::after {
          transform: rotate(90deg); } }

.menu-categs a {
  text-transform: capitalize;
  font-size: 15px; }
.menu-categs > .menu-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.06); }
.menu-categs > .menu-item:nth-child(even) > .nav-menu > .menu-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.06); }
.menu-categs > .menu-item > .nav-menu > .menu-item > a {
  padding-left: 40px; }
.menu-categs > .menu-item > .nav-menu > .menu-item .menu-item a {
  padding: 8px 0;
  padding-left: 58px; }
.menu-categs > .menu-item > a,
.menu-categs > .menu-item > .nav-menu > a {
  padding: 14px 24px; }
.menu-categs > .menu-item > a {
  text-transform: uppercase; }
.menu-categs .menu-item--has-children {
  position: relative; }
  .menu-categs .menu-item--has-children:after {
    content: "+";
    position: absolute;
    right: 16px;
    top: 14px; }
.menu-categs .menu-item--active:after {
  content: "–"; }
@media (max-width: 991px) {
  .menu-categs {
    display: none; } }
@media (min-width: 992px) {
  .menu-categs {
    display: block !important; } }

/* footer */
.menu-social {
  font-size: 1.5rem; }
  .menu-social .menu-item a {
    padding: 0; }

.menu-footer .menu-item a {
  padding: 4px 0; }
.menu-footer .menu-item:last-child {
  margin-right: 0; }

.nav-menu-mob-wrapper {
  display: none; }
  @media (min-width: 768px) {
    .nav-menu-mob-wrapper {
      display: none !important; } }

/* ==========================================================================
   CONTENT
   ========================================================================== */
h1, h2, h3, h4 {
  line-height: 1.1;
  font-weight: 500; }

.h-index {
  font-size: 1.7rem; }
  .h-index:after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 12px; }
  @media (min-width: 768px) {
    .h-index {
      font-size: 1.7rem; } }

.h-page {
  margin: 0 0 20px 0;
  font-size: 1.7rem; }

.h-card-list {
  font-size: 1.5rem; }

.breadcrumbs {
  margin-bottom: 12px; }
  .breadcrumbs a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px; }
    .breadcrumbs a:after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 12px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E") no-repeat;
      vertical-align: middle;
      margin: 0 8px 0 12px; }
    .breadcrumbs a:last-child:after {
      content: none; }

.row-mod {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.section-major {
  margin-bottom: 28px; }

@media (max-width: 1199px) {
  .carousel-list {
    padding: 0 30px; } }
@media (min-width: 576px) {
  .carousel-list .card {
    margin-right: 30px; }
    .carousel-list .card:last-child {
      margin-right: 0; } }

.section-description {
  margin-bottom: 20px; }

.b-categ {
  margin-bottom: 16px; }
  .b-categ .icon {
    display: block; }
  .b-categ svg {
    font-size: 50px; }
  .b-categ .title {
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2; }
  .b-categ li {
    margin-bottom: 8px;
    line-height: 1.1;
    text-transform: capitalize;
    position: relative; }
    .b-categ li:before {
      content: "-";
      position: absolute;
      top: 0;
      left: -10px; }
  .b-categ .all {
    font-weight: 600;
    display: block;
    font-size: .9rem; }

.col-categ {
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 576px) {
    .col-categ {
      width: 50%; } }
  @media (min-width: 768px) {
    .col-categ {
      width: 33.33%; } }
  @media (min-width: 1300px) {
    .col-categ {
      width: 16.66666666666667%; } }

/* ==========================================================================
   ARTICLE
   ========================================================================== */
.b-author-article {
  margin-bottom: 14px; }
  .b-author-article:before, .b-author-article:after {
    content: "";
    display: table; }
  .b-author-article:after {
    clear: both; }
  .b-author-article .userpic {
    width: 60px;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 8px; }
  .b-author-article .article-author {
    font-weight: 500;
    margin-top: 12px;
    display: block; }
  .b-author-article .article-date {
    color: rgba(37, 37, 37, 0.75); }

.article-main hr {
  background: #555555;
  height: 2px;
  border: none;
  margin-bottom: 24px; }

.article-main--body p, .article-main--body blockquote, .article-main--body ul, .article-main--body ol, .article-main--body figure, .article-main--body img, .article-main--body table {
  margin-bottom: 24px; }
.article-main--body h2 {
  font-size: 1.5rem;
  margin-top: 32px; }
.article-main--body p {
  line-height: 1.5; }
.article-main--body .toc {
  border-left: 4px solid #252525;
  padding: 4px 0 4px 16px; }
  .article-main--body .toc_title {
    margin: 0 0 8px;
    font-size: 1.1rem;
    font-weight: 500; }
  .article-main--body .toc_list {
    list-style: number;
    padding-left: 16px;
    margin-bottom: 0 !important; }
    .article-main--body .toc_list li {
      margin-bottom: 16px; }
      .article-main--body .toc_list li:last-child {
        margin-bottom: 0; }
    .article-main--body .toc_list a {
      border-bottom: 1px dashed; }
.article-main--body blockquote {
  margin-left: 0;
  position: relative;
  border-left: 4px solid #252525;
  padding: 4px 0 4px 16px; }
  .article-main--body blockquote:before {
    content: '“';
    font-family: Georgia;
    position: absolute;
    left: 16px;
    top: -8px;
    font-size: 80px;
    line-height: 1; }
  .article-main--body blockquote p:first-letter {
    margin-left: 38px; }
  .article-main--body blockquote p {
    margin-bottom: 0 !important; }
.article-main--body figure {
  text-align: center; }
  .article-main--body figure img {
    margin-bottom: 8px !important; }
  .article-main--body figure figcaption {
    color: rgba(37, 37, 37, 0.75);
    font-weight: 500; }
.article-main--body ul, .article-main--body ol {
  padding-left: 36px; }
  .article-main--body ul li, .article-main--body ol li {
    margin-bottom: 8px; }
.article-main--body ul {
  list-style: circle; }
.article-main--body table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle; }
  @media (max-width: 991px) {
    .article-main--body table {
      display: block;
      max-width: min-content;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap; } }
.article-main--body th, .article-main--body td {
  border: 1px solid #555555;
  padding: 8px; }
.article-main--body th {
  background: rgba(85, 85, 85, 0.5); }
.article-main--body .title {
  font-weight: 500; }

.article-main--rating .title, .article-main--sharing .title {
  font-weight: 500; }

.article-main--rating {
  margin-bottom: 16px; }
  .article-main--rating .title {
    margin: 0 8px 8px 0;
    display: inline-block; }
  .article-main--rating .stars {
    display: inline-block;
    color: orange;
    font-size: 24px; }

.article-main--sharing {
  margin-bottom: 24px; }
  .article-main--sharing .title {
    margin: 0 0 8px 0; }

.article-main--categs {
  margin-bottom: 24px;
  border-left: 4px solid #252525;
  padding: 4px 0 4px 16px; }
  .article-main--categs .title {
    font-weight: 500; }

.comment-list {
  padding-left: 0;
  list-style: none; }
  .comment-list ol {
    list-style: none; }

.comment-box {
  margin-bottom: 16px; }
  .comment-box:before, .comment-box:after {
    content: "";
    display: table; }
  .comment-box:after {
    clear: both; }

.comment-text {
  margin-bottom: 8px; }

.comment-reply-link {
  float: right;
  cursor: pointer;
  color: #ffca3c;
  font-size: 14px;
  font-weight: 500; }

/* ==========================================================================
   CARDS
   ========================================================================== */
.h-card {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 8px 0; }

.card .category, .card .comments, .card .author {
  font-size: 0.8rem;
  margin-bottom: 4px; }

.card-img {
  position: relative;
  display: block;
  margin-bottom: 8px; }
  .card-img img {
    width: 100%;
    transition: all .15s;
    display: inline-block; }
  .card-img .label {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 0; }
  .card-img:hover img {
    opacity: .85; }

.cols-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -3px; }
  .cols-inline > * {
    padding: 0 3px; }

/* card-polar */
.card-polar {
  margin-bottom: 18px; }
  .card-polar .h-card {
    margin: 8px 0; }

/* card-cols */
.card-cols {
  margin-bottom: 18px; }
  @media (min-width: 992px) {
    .card-cols {
      display: flex;
      justify-content: space-between; }
      .card-cols .h-card {
        margin-top: 0; }
      .card-cols .card-img {
        width: 43%; }
      .card-cols .info {
        width: 54%; }
      .card-cols .excerpt {
        height: 90px;
        overflow: hidden; } }

/* card-mini */
.card-mini {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; }
  .card-mini .card-img {
    width: 27%; }
  .card-mini .info {
    width: 70%; }
  .card-mini .h-card {
    margin: 0 0 4px 0;
    font-size: 1.1rem; }

/* card-links */
.card-links {
  border: 1px solid #555555;
  padding: 16px 20px; }
  .card-links .heading {
    margin: 0 0 8px 0;
    font-size: 1.3rem; }
  .card-links li {
    margin-bottom: 4px;
    position: relative; }
    .card-links li:before {
      content: "";
      border-radius: 100%;
      width: 6px;
      height: 6px;
      border: 1px solid gray;
      position: absolute;
      left: -11px;
      top: 6px; }
  .card-links a {
    border-bottom: 1px solid #555555; }

/* card-about */
.card-about {
  border: 1px solid #555555;
  padding: 32px;
  margin-top: 40px; }
  @media (min-width: 992px) {
    .card-about {
      padding: 32px 56px; } }

/* card-list */
.card-list {
  margin-bottom: 28px; }

@media (min-width: 992px) {
  .card-list-square {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

.card-list-item {
  transition: all .3s;
  border-bottom: 1px solid #555555;
  padding: 14px 0;
  display: block;
  background-image: none !important; }
  .card-list-item:first-child {
    padding-top: 0; }
  .card-list-item:last-child {
    border-bottom: 0; }
  .card-list-item .title {
    margin: 0 0 8px 0; }
  .card-list-item .img {
    display: block; }
    .card-list-item .img img {
      width: 100%; }
  .card-list-item .comments {
    display: inline-block;
    color: #fff;
    padding: 2px 4px;
    margin-bottom: 8px; }
  .card-list-item .price {
    font-size: 2rem; }
    .card-list-item .price .currency {
      font-size: 1.2rem;
      font-weight: 300; }
    .card-list-item .price .svg-inline--fa {
      font-size: 1.3rem; }
  @media (min-width: 768px) {
    .card-list-item {
      overflow: hidden;
      display: flex;
      justify-content: space-between; }
      .card-list-item .img {
        float: left;
        width: 33%; }
      .card-list-item .info {
        width: 65%;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between; } }

@media (min-width: 992px) {
  .card-list-item-square {
    display: block;
    background-position: 50% 50%;
    background-size: cover !important;
    position: relative;
    width: 32%;
    transition: all .3s;
    margin-bottom: 18px; }
    .card-list-item-square:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .card-list-item-square .title, .card-list-item-square .comments, .card-list-item-square .price {
      background: rgba(255, 255, 255, 0.9);
      margin: 0;
      padding: 2px 4px; }
      .card-list-item-square .title svg, .card-list-item-square .comments svg, .card-list-item-square .price svg {
        display: none; }
    .card-list-item-square .title {
      font-size: 1.3rem;
      display: inline-block; }
    .card-list-item-square .img, .card-list-item-square .excerpt {
      display: none; }
    .card-list-item-square .info {
      position: absolute;
      top: 12px;
      left: 12px;
      bottom: 12px;
      right: 12px; }
    .card-list-item-square .price, .card-list-item-square .comments {
      bottom: 0;
      position: absolute; }
    .card-list-item-square .price {
      left: 0;
      font-size: 1rem; }
      .card-list-item-square .price .currency {
        font-size: .75rem; }
    .card-list-item-square .comments {
      right: 0;
      font-size: .75rem; }
      .card-list-item-square .comments span {
        display: none; } }

/* ==========================================================================
   SIDEBAR
   ========================================================================== */
@media (max-width: 767px) {
  .sidebar-site {
    margin-bottom: 24px; } }

/* ==========================================================================
   FOOTER
   ========================================================================== */
.h-footer {
  font-size: 1.2rem;
  margin: 14px 0; }
  .h-footer:first-child {
    margin-top: 0; }

.footer-site {
  padding: 28px 0; }
  .footer-site .logo-main, .footer-site .copyright, .footer-site .info {
    margin-bottom: 14px; }

/* ==========================================================================
   PLUGINS
   ========================================================================== */
/*! nouislider - 11.1.0 - 2018-04-02 11:18:13 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

/* Offset direction
 */
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0; }

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  position: absolute; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 14px; }

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  left: -17px;
  top: -8px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto; }

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 8px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #dbdbdb; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 50px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%, 0);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

/* Slick carousel */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  background: none;
  border: none;
  font-size: 25px;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  z-index: 3; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

@media (min-width: 1200px) {
  .slick-prev {
    left: -30px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.h-elements {
  border-bottom: 1px solid #252525;
  padding-bottom: 16px; }

.space {
  height: 23px; }

/********************************************************************
 * Text meant only for screen readers
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *, :before, :after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  font-family: 'Ubuntu', sans-serif;
  background: #f5f5f5;
  font-size: 16px; }

a {
  color: #252525; }

.container {
  max-width: 1280px; }

/* ==========================================================================
   HEADER
   ========================================================================== */
.header-site {
  background: #fff; }
  .header-site .row-mod {
    align-items: center; }

.header--lvl-1 {
  background: #f8f8f8; }
.header--col-1 {
  width: 20%; }
.header--col-2 {
  width: 80%; }
  .header--col-2_mod {
    display: flex;
    justify-content: space-between;
    align-items: center; }
.header--location {
  padding-top: 1rem; }
.header--rates {
  padding: 1rem 0;
  width: 80%; }
.header--actions {
  background: #f5f5f5; }
.header--logo {
  padding: 1rem 0; }
  .header--logo .logo {
    width: 170px; }

.logo {
  display: inherit; }

.list-rates {
  display: flex;
  justify-content: space-between; }
  .list-rates--date {
    color: #9a9a9a;
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 5px; }
  .list-rates__item {
    display: flex;
    font-size: 0.8rem; }
  .list-rates__val {
    margin: 0 15px; }
  .list-rates__chg {
    color: #67b279; }
  .list-rates__chg-neg {
    color: #ff0000; }

.location-selector {
  background: url("../images/i-location.png") no-repeat;
  padding-left: 25px; }
  .location-selector .selected {
    text-decoration: underline;
    cursor: pointer;
    color: #ff0000;
    font-size: 0.9rem; }

/* ==========================================================================
NAVIGATION
========================================================================== */
.menu-main {
  display: flex;
  justify-content: space-between; }

/* ==========================================================================
   CONTENT
   ========================================================================== */
.row-new {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .row-new {
      flex-wrap: wrap;
      flex-direction: column; }
      .row-new .col-sidebar {
        order: 1; }
      .row-new .col-content {
        order: 2; } }
  @media (min-width: 992px) {
    .row-new .col-content {
      padding: 0 16px 0 0;
      flex-grow: 1; }
    .row-new .col-sidebar {
      flex-grow: 0;
      flex-shrink: 0;
      width: 280px;
      justify-content: flex-start; } }
  @media (min-width: 1200px) {
    .row-new .col-content {
      padding: 0 32px 0 0; } }

.card {
  background: #ffffff; }

.h-section {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0;
  font-size: 1.7rem; }

.action-main {
  width: 31.5%;
  height: 105px;
  margin-bottom: 1.5rem;
  padding: 25px 25px 0 0; }
  .action-main:before, .action-main:after {
    content: "";
    display: table; }
  .action-main:after {
    clear: both; }
  .action-main__icon {
    float: left;
    width: 40%;
    text-align: center; }
    .action-main__icon img {
      height: 45px; }
  .action-main__title {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
    font-weight: 500; }
  .action-main__comment {
    font-size: 0.9rem; }

.nav-plans {
  border-bottom: 1px solid #acacac; }
  .nav-plans__item {
    display: inline-block;
    margin-right: 4rem; }
    .nav-plans__item:last-child {
      margin-right: 0; }
    .nav-plans__item a {
      color: #555555;
      text-transform: uppercase;
      display: block;
      padding: 1rem 0;
      font-weight: 300;
      border-bottom: 2px solid transparent; }
    .nav-plans__item.active a {
      color: #ff0000;
      font-weight: 500;
      border-bottom-color: #ff0000; }

/* ==========================================================================
   - ARTICLE
   ========================================================================== */
/* ==========================================================================
   SIDEBAR
   ========================================================================== */
/* ==========================================================================
   FOOTER
   ========================================================================== */

/*# sourceMappingURL=style.css.map */
